<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>サウナ施設一覧</title>
</head>
<body>
<h1>サウナ施設混雑状況</h1>
<table border="1">
<thead>
	<tr>
		<th>施設名</th>
		<th>男湯の混雑状況</th>
		<th>女湯の混雑状況</th>
		<th>施設詳細</th>
	</tr>
</thead>
<tbody>
<tr th:each="domain:${domainList}">
	<td th:text="${domain.name}">施設名</td>
	<td>ダミー</td>
	<td>ダミー</td>
	<td><a th:href="${domain.url}">詳細はこちら</a></td>
</tr>
</tbody>
</table>
管理者ログインはこちら
<a href="login.html" th:href="@{/sauna-list/index}">こちら</a><br>
新規登録の方はこちら
<a href="insert.html" th:href="@{/sauna-list/insert}">こちら</a><br>
</body>
</html>